# container-based build
sudo: false

language: scala

env:
  global:
    - JAVA_OPTS="-DSKIP_FLAKY=true -Dsbt.log.noformat=true"

  matrix:
    - PROJECT=benchmarks
    - PROJECT=http
    - PROJECT=httpclient
    - PROJECT=injectApp
    - PROJECT=injectCore
    - PROJECT=injectLogback
    - PROJECT=injectModules
    - PROJECT=injectRequestScope
    - PROJECT=injectServer
    - PROJECT=injectSlf4j
    - PROJECT=injectThrift
    - PROJECT=injectThriftClient
    - PROJECT=injectThriftClientHttpMapper
    - PROJECT=injectUtils
    - PROJECT=jackson
    - PROJECT=thrift
    - PROJECT=utils
    - PROJECT=benchmarkServer
    - PROJECT=exampleHttpJavaServer
    - PROJECT=exampleInjectJavaServer
    - PROJECT=exampleTwitterServer
    - PROJECT=exampleWebDashboard
    - PROJECT=helloWorld
    - PROJECT=streamingExample
    - PROJECT=thriftExampleIdl
    - PROJECT=thriftExampleServer
    - PROJECT=thriftJavaExampleIdl
    - PROJECT=thriftJavaExampleServer
    - PROJECT=twitterClone

# These directories are cached to S3 at the end of the build
cache:
  directories:
   - $HOME/.ivy2
   - $HOME/.sbt/boot/scala-$TRAVIS_SCALA_VERSION
   - $HOME/.dodo

before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

scala:
  - 2.11.11
  - 2.12.4

jdk:
  - oraclejdk8

notifications:
  slack:
    secure: dHi+rmmp3dfVLda7V2DwO1P6pM76TTE+oJTbmnK3c177gQ41hm1/Azya4WM84vxcfCdLjudMddv7VYJRXKRt5EXxp9HYBQ8p9+EFol2KOPRazoOaBl7m+ug1dI/xerK3xaF+u4mIOYlnpEXNpHxF+y5AcGkatDpxD4B76LN7q3A=

before_script:
  # default $SBT_OPTS is irrelevant to sbt launcher
  - unset SBT_OPTS
  - curl -s https://raw.githubusercontent.com/twitter/dodo/develop/bin/build | bash -s -- --no-test finatra
  - travis_retry ./sbt --error ++$TRAVIS_SCALA_VERSION update

script:
  # run for all environments
  - travis_retry ./sbt ++$TRAVIS_SCALA_VERSION coverage "$PROJECT/test" coverageReport

after_success:
  - ./sbt ++$TRAVIS_SCALA_VERSION coverageAggregate
  - bash <(curl -s https://codecov.io/bash)
