sudo: required

language: scala

scala:
  - 2.10.5
  - 2.11.7

jdk:
  - openjdk7
  - oraclejdk7
  # Note: not currently testing on JDK 8 internally
  - oraclejdk8

before_install:
 # See: https://github.com/travis-ci/travis-ci/issues/2496
 - "ulimit -u 514029"

before_script:
  # default $SBT_OPTS is irrelevant to sbt lancher
  - unset SBT_OPTS

script:
  - travis_retry ./sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success:
  - bash <(curl -s https://codecov.io/bash)
