<configuration>
  <!-- Console Appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %.-3level %-16X{transactionId} %-16X{traceId} %-25X{uri} %-25logger{0} %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Per Package Config -->
  <logger name="com.twitter" level="debug"/>

  <!-- Root Logger -->
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>