<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>
    {{ page.title }} - Finatra
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="/finatra/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/finatra/stylesheets/docs.css" rel="stylesheet">
  <link href="/finatra/stylesheets/syntax.css" rel="stylesheet">
  <link href="/finatra/stylesheets/tomorrow.css" rel="stylesheet">
  <style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .nav {
    font-size: 16px;
  }

  section.page {
    padding: 0px;
  }
  </style>
  <link href="/finatra/stylesheets/bootstrap-responsive.css" rel="stylesheet">
  <link rel="shortcut icon" href="/finatra/favicon.ico?v=2" type="image/x-icon">
  <link rel="icon" href="/finatra/favicon.ico?v=2" type="image/x-icon">
</head>

<body onload="prettyPrint()" data-spy="scroll" data-target=".bs-docs-sidebar">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <div id="nav">
            <ul class="nav">
              <li {% if "/finatra/index.html" == page.url %}class="active"{% endif %}><a class="brand" href="/finatra/index.html">Finatra</a></li>
              <li {% if page.url contains "/finatra/blog/archives" %}class="active"{% endif %}><a href="/finatra/blog/archives">Blog</a></li>
              <li {% if "/finatra/assets/FinatraSFScala.pdf" == page.url %}class="active"{% endif %}><a href="/finatra/assets/FinatraSFScala.pdf">#SFScala Presentation</a></li>
              <li {% if "https://github.com/twitter/finatra/tree/master/http" == page.url %}class="active"{% endif %}><a href="https://github.com/twitter/finatra/tree/master/http">Getting Started</a></li>
              <li><a href="/finatra/docs/index.html">Scaladoc</a></li>
              <li><a href="http://github.com/twitter/finatra">Github</a></li>
              <li><a href="https://groups.google.com/forum/#!forum/finatra-users">Forum</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>

  <div class="container">
    <div id="main">
      <section class="page">

        {{ content }}

      </section>
    </div>
  </div>


<div id="footer">
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="span10">
        <p>
          Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
          <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
        </p></div>
      <div class="span2">
        <p class="text-muted credit text-right"><a href="https://twitter.com/finatra" data-size="large" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @finatra</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
        </div>
      </div>
    </div>
  </div>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-29171624-2', 'twitter.github.io/finatra');
  ga('send', 'pageview');


  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/finatra/javascripts/bootstrap.min.js"></script>
  <script src="/finatra/javascripts/prettify.js"></script>
</body>
</html>
