<configuration>
  <!-- Console Appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %.-3level %-10X{uri} %-25logger{0} %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Root Logger -->
  <root level="OFF">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>