{% capture category %}{{ post.categories | size }}{% endcapture %}
<h1><a href="/finatra{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
<span>posted&nbsp;by&nbsp;<a href="https://github.com/{{ post.author }}">{{ post.author }}</a>&nbsp;on&nbsp;</span><time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
{% if category != '0' %}
<footer>
  <span class="categories">{{ post.categories | category_links }}</span>
</footer>
{% endif %}
