<configuration>

  <!-- ===================================================== -->
  <!-- Secondary Appenders -->
  <!-- ===================================================== -->

  <!-- Service Log (Rollover daily/50MB) -->
  <appender name="SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>service.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>service-%d{yyyy-MM-dd}.%i</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%date %.-3level %-16X{traceId} %-25logger{0} %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Access Log (Rollover daily/50MB) -->
  <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>access.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>access-%d{yyyy-MM-dd}.%i</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%msg %X{traceId}%n</pattern>
    </encoder>
  </appender>

  <!-- ===================================================== -->
  <!-- Primary Async Appenders -->
  <!-- ===================================================== -->

  <appender name="ASYNC-SERVICE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="SERVICE"/>
  </appender>

  <appender name="ASYNC-ACCESS" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="ACCESS"/>
  </appender>

  <!-- ===================================================== -->
  <!-- Package Config -->
  <!-- ===================================================== -->

  <!-- Root Config -->
  <root level="warn">
    <appender-ref ref="ASYNC-SERVICE"/>
  </root>

  <!-- Per-Package Config -->
  <logger name="com.twitter" level="info"/>

  <logger name="com.twitter.finatra.http.filters.AccessLoggingFilter"
          level="info"
          additivity="false">
    <appender-ref ref="ASYNC-ACCESS"/>
  </logger>

</configuration>
