<configuration>
    <appender name="TEST" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %.-3level %-25logger{0} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(%date [%thread] %.-3level %-25logger{0} %msg%n)</pattern>
        </encoder>
    </appender>
    <appender name="MAIN_SERVER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(%date [%thread] %.-3level %-25logger{0} %msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="KAFKA" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue(%date [%thread] %.-3level %-25logger{0} %msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="STATE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%date [%thread] %.-3level %-25logger{0} %msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="com.twitter.finatra.kafkastreams.integration"
            additivity="false">
        <appender-ref ref="TEST"/>
    </logger>

    <logger name="com.twitter.finatra.kafka.test"
            level="debug"
            additivity="false">
        <appender-ref ref="TEST"/>
    </logger>

    <logger name="ch.qos.logback"
            level="error"
            additivity="false">
        <appender-ref ref="TEST"/>
    </logger>

    <logger name="com.twitter.finatra.kafkastreams.integration.wordcount_windowed.PreRestoreWindowedWordCountServer"
            level="info"
            additivity="false">
        <appender-ref ref="MAIN_SERVER"/>
    </logger>

    <logger name="kafka"
            additivity="false">
        <appender-ref ref="KAFKA"/>
    </logger>

    <logger name="org.apache.kafka.streams.KafkaStreams"
            additivity="false">
        <appender-ref ref="STATE"/>
    </logger>

    <!-- Main Twitter Config -->

    <logger name="com.twitter" level="info"/>
    <logger name="com.twitter.finatra" level="info"/>
    <logger name="com.twitter.finatra.http.filters.AccessLoggingFilter" level="warn"/>
    <logger name="com.twitter.finatra.messaging" level="debug"/>
    <logger name="com.twitter.finatra.kafka" level="debug"/>
    <logger name="com.twitter.finatra.kafkastreams" level="debug"/>
    <logger name="com.twitter.finatra.streams" level="debug"/>
    <logger name="com.twitter.finagle.tracing.DefaultTracer$" level="warn"/>
    <logger name="com.twitter.finagle.tracing.DefaultTracer" level="warn"/>
    <logger name="com.twitter.finagle.toggle.TwitterToggleMap" level="error"/>

    <logger name="kafka" level="warn"/>
    <logger name="kafka.server.BrokerMetadataCheckpoint" level="error"/>
    <logger name="kafka.server.KafkaConfig" level="warn"/>
    <logger name="logger" level="warn"/>
    <logger name="org.apache.kafka" level="warn"/>
    <logger name="org.apache.kafka.clients.NetworkClient" level="error"/>
    <logger name="org.apache.kafka.streams" level="info"/>
    <logger name="org.apache.zookeeper" level="error"/>

    <!-- Root Logger -->
    <root level="warn">
        <appender-ref ref="MAIN"/>
    </root>
</configuration>
